# Welcome to lab_similarity!

We are half way done with Data Science DISCOVERY this semester!! Hopefully at this point, you've come to know a few things about your groupmates in your lab section through working together on the labs. But, have you ever wondered if there is someone very similar to you in the class that you haven't had the chance to get to know yet? In this lab you will find your in-class doppelganger or your "Stat 107 Twin". With the power of data science, you'll learn more about your peers than ever before by anaylzing the `Hello` dataset!

To do this, you will:
- Use Python to work with categorical and numeric data
- Practice using conditionals in if-statements
- Design and implement your own functions

## Part 0: Your Group!
Edit the next Python cell to add information about who you're working within your lab section:

In [ ]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = ""
ca1_name = ""
ca2_name = ""


# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = ""
partner1_netid = ""
partner1_major = ""

partner2_name = ""
partner2_netid = ""
partner2_major = ""

partner3_name = ""
partner3_netid = ""
partner3_major = ""

## Part 1: Dataframe Setup

For the first part of our lab, we'll be using the "Hello" dataset one more time. We need to:
- Import the proper libraries
- Check a few rows in the dataframe
- Check if the dataframe has any blank responses

### Puzzle 1.1: Import libraries and data

Import everything you need for the lab. We will need `pandas` (as `pd`) and `matplotlib.pyplot` (as `plt`). For now, we'll only need pandas!  As in past labs, `hello.csv` should be in the same directory as this lab. Load it onto a dataframe called `df`.  Then, randomly sample and print 5 rows from the dataframe to see what our data looks like.

In [ ]:
# Import pandas
...

# Load the dataframe and print out 5 random rows!
df = ...
...

In [ ]:
## == TEST CASES for Puzzle 0 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df) == 284), "The dataframe does not appear to have correct dataset loaded"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 1.2 Check for NAs

Before we find our Stat 107 twins, we have to deal with missing values! The function below checks if there are any blank responses, which pandas encodes as "NaN" (Not a Number). If there are, the function prints all the cells that are in a row or column with an NaN. Otherwise, it returns `None` and prints a string that says: "This dataframe has no NAs". `None` is a special data type that represents a null value or no value at all. Once you're done writing the function, apply it to our dataframe, name the **return** value `df_na`, and print it.

**More Details:** You can use **df.isnull().values.any()** to check a whole dataframe for NAs. 

**df.isnull().any()** will check each row or column for NAs, depending on what value you choose for the function parameter *axis*, and return a list of booleans.

Just like with single rows/columns, you can use *df.loc[L1,L2]*, where L1 and L2 are lists of booleans, to get all the cells where the row *and* column meet a condition.

In [ ]:
# Here is a function that checks a dataframe for NAs
def checkNAs(df):
    if df.isnull().values.any():
        return df.loc[df.isnull().any(axis=1),df.isnull().any()]
    else:
        print("This dataframe has no NAs")
        return None

# Use the function to create a new dataframe of rows that have NAs called `df_na`
df_na = ...
df_na

In [ ]:
## == TEST CASES for Puzzle 1.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

assert set(df_na.columns) == {'Name', 'Major', 'Computer', 'Holes In Straw', 'Statistics Courses',
       'Study Hours Per Week', 'Shoe Number',
       'How many different people (including each person in group chats!) did you text yesterday?',
       'Introvert, extrovert, ambivert?'}, "These are not the correct NA columns"
assert set(df_na.index)=={17, 30, 43, 59, 65, 118, 143, 187, 189, 200, 232, 269}, "These are not the correct NA rows"
assert checkNAs(df["Year"])==None, "Make sure dataframes with no NAs return None"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 1.3: Dealing with NAs
‚ùì **Individual Reflection Question** ‚ùì As a Data Scientist, we need to think about how to handle missing values.  One possible way to deal with them is to fill them all with 0s. What are some dangers to doing this? Also, what are some reasons you may want to deal with blank responses this way?

*[Replace this text with your response.]*

**Group Discussion:** Discuss with your group: what are other ways for dealing with missing values? What is good about these ways and what is bad about them?  How does the sample space and goal (finding similarity) affect your response?

## Part 2 - Numerical vs. Categorical Data

In order to find your Stat 107 Twin, it's important that we first identify the different types of data that we have in our dataset.

**Numerical (or Quantitative) Data** is any type of data that can be expressed through numbers instead of descriptions. They can have an order, you can perform mathematical operations on them, etc. It makes sense to perform arithmetic on numeric data. The number of shoes a person owns is an example of a numeric variable.

**Categorical (or Qualitative) Data** is any type of data that can be placed into categories using names or groups. Some categorical variables can take numerical values (like zip codes or your social security number), however, mathematical operations like adding them together would be odd. The type of phone you have is an example of a categorical variable.

To keep things simple, we will categorize all of our columns as either categorical or numeric.  Run the code below to get the column names of all the categorical columns.

In [ ]:
categorical_cols = df.select_dtypes(exclude="number").columns
categorical_cols

### Puzzle 2.1 Get dataframe with just categorical columns

Using the names generated above, create a new dataframe `df_categorical` with all the categorical columns and print a random sample of 5 rows.

In [ ]:
df_categorical = ...
...

In [ ]:
## == TEST CASES for Puzzle 2.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(categorical_cols) == 9), "The list of numeric columns seems to have an incorrect number of elements"
assert(df_categorical.shape[0] == 284), "The dataframe doesn't have the right number of rows"
assert(df_categorical.shape[1] == 9), "The dataframe doesn't have the right number of columns"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 2.2 Get a dataframe with just numeric columns

Using the list generated above, get all the names for numeric columns `numcols`, i.e. all the other columns. Then make a new dataframe `df_numeric` with all the numeric columns and print a random sample of 5 rows.

In [ ]:
numcols = ...
df_numeric = ...
...

In [ ]:
## == TEST CASES for Puzzle 2.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(numcols) == 22), "The list of numeric columns seems to have an incorrect number of elements"
assert(df_numeric.shape[0] == 284), "The dataframe doesn't have the right number of rows"
assert(df_numeric.shape[1] == 22), "The dataframe doesn't have the right number of columns"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 2.3 Visualizing Numeric Data

Plot the histograms for each columns in `df_numeric`

- If needed: In `df.hist`, use **`figsize=(30, 40)`** as an optional argument passed to `hist` to make your figure bigger.

In [ ]:
#plot the histogram for each column in df_nueric

...

### Puzzle 2.4 Visualize "Year" 

To visualize the categorical data we will be using a bar plot.  However, we first need to convert our DataFrame with the categorical data into counts for each value.  To do this, we can use [`Series.value_counts()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) on a column of data.

Let's see how this works.  Select just the `["Year"]` from `df_categorical` and apply `.value_counts()`.  Then, in the next cell, use that data to make a bar plot using `.plot.bar()`:

In [ ]:
# Use `.value_counts()` to find the values counts of data about ["Year"]
value_counts = ...
value_counts

In [ ]:
# Now, use `value_counts` to plot a bar chart:
...

### Puzzle 2.5 Visualize all Categorical Data

Finally, repeat this process for the columns in `df_categorical` using a for loop. You can use pyplot's `plt.show()` to display all the plots.

In [ ]:
for column in categorical_cols:
    import matplotlib. pyplot as plt
    df_categorical[column].value_counts().plot.bar(title=column)
    plt.show()

### Puzzle 2.5 Handling Different Variable Types

‚ùì **Group Discussion and Individual Reflection** ‚ùì It's important to note that data represented with numbers aren't always categorized as quantitative (such as zip code or social security number). Looking at the graphs we generated, what are some examples of numeric data that might work better as categories or categorical data that could make sense to order? Can you think of other examples of data that is technically numbers, but would be categorized as categorical? Write down some highlights of your discussion below.

*[Replace this text with your response.]*

### Puzzle 2.6 Clean up the Data

Now that you know what the data looks like and what types of columns we are dealing with in this dataset, you must decided what to do with the NAs in the dataset. This decision is up to you as a data scientist!  There is no definite right answer. Functions like `fillna()`and `df.replace()` may be helpful. Use the `checkNAs()` function we made earlier to make sure all the NAs have been dealt with. Then, briefly explain what you did and why in the text box below.

**HINT:** (double-click this cell to see it): <span style="color:#ffffff00">One possible way to do this is to treat categorical and numeric NAs separately. For categorical columns, not responding coud be its own category indicated by some string like "Blank". For numeric columns, NAs could be represented by a central value like the mean, median, or an extreme value well outside the values of possible answers.</span>

In [ ]:
...
...

*[Replace this text with your response.]*

## Part 3 - Now, Time to Find Yourself

You cannot find people you are compatible with before finding yourself... literally! 

### Puzzle 3.1: Find Yourself

In the following cell, write the Python code to create a DataFrame with only yourself:

In [ ]:
myrow = ...
myrow

In [ ]:
## == TEST CASES for Puzzle 3.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(myrow) == 1), "The row of yourself is not correctly set"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### DataFrame with one row vs. a Series

In `pandas`, there are three major data structures we will be using:

- A **DataFrame** is similar to an Excel sheet.  It contains zero or more rows and zero or more columns.  It can contain up to an unlimited number of rows and columns and is the basic data structure we will work with in Data Science Discovery

- A **GroupBy** is a grouping of rows within a DataFrame.  This "three dimensional data" requires us to use `agg` to reduce it back down to a **DataFrame**.

- A **Series** is a single row or column with zero or more values (columns).  You can think of a DataFrame as a collection of **Series** objects.  When you select a single column, you may have noticed that `pandas ` automatically outputs a **Series** object. When we deal with a single row, however, we will usually need to manually convert it to a **Series** instead of a **one row DataFrame**.

#### Converting between types

The `pandas` library makes it easy to convert between a **Series**, **DataFrame**, and **GroupBy**.

![image.png](img/datatypes.png)

Expressed as a list:

- From a **Series** (`row`) to a **DataFrame**
  * `row.to_frame()`
- From a **DataFrame** (`df`) to a **GroupBy**:
  * `df.groupby(by='columnName')` *-- (You know this already!)*

- From a **GroupBy** (`group`) to a **DataFrame**:
  * `df.agg( function )` *-- (You know this already!)*
- From a **DataFrame** (`df`) to a **Series**:
  * `df.squeeze()`, if the DataFrame has one row


  

### Puzzle 3.2: Transform your row into a Series
 
Using the correct function from above, transform the row containing only you from a one-row DataFrame into a Series.  Make sure the Series is named `myrow` (this will match up with code we provide you with later):

In [ ]:
...

In [ ]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(type(myrow) == pd.core.series.Series), "You did not successfully transform myrow's type into series"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

## Part 4 - Create a similarity function

The first step to finding who is the most similar to you is to create a **function** that will generate a similarity value for each person (or row). Unlike `sum`, `count`, or other functions, Python does not provide us a **function** that does this.  Instead, we need to write it ourselves. üòû

Using what you learned in lecture, let's write this function!

### Planning it out
Before starting to code, think about the **algorithm** you would like to use:

1. Go through each person.
2. Compare their responses to each question with yours.
3. Calculate and record a "similarity score". based on those comparisons.

Also, think about what **parameters** (input) and **return** (output) you want your function to have:

*Input:* - the row you want the similarity score for, the row you are comparing against (your row)

*Output:* - a numeric score representing the similarity between a row and the row being compared against

### Output Details
For each column, we want the score scale to be between 0 and 1, with 1 representing exact matches. So, if a row is the exact same as the one we're comparing it against it should have a score equal to the number of columns.

For a measure of ***closeness*** between values for the numerical data we'll use the following formula:

$1 -$ ( $|actual - desired|$ / $(maxColumnValue - minColumnValue)$ )

### Helpful tips
- Remember that you can loop through the columns of a dataframe
- Treat numeric data and categorical data differently
- Have a plan to test for if a column is all 0's

### Puzzle 4.1 Planning it out

Briefly describe any special cases you want to take into account or any weights or values you want to use for specific columns in the text box below. If there are none, state that instead. *(This part is completely up to you, just make sure it makes sensce and your code matches what you describe.)*

*[Replace this text with your response.]*

### Puzzle 4.2 Write the function

Now that everything has been thoroughly planned out, you're ready to write the function!  This is the most complicated part of the lab, so take your time :)

In [ ]:
def similarity(row, myrow):
    score = 0
    
    for column in df:
        ...
    return score

### Puzzle 4.3 Testing the function

Part of writing a function is making sure it does what you want it to. Test this function by checking how similar you are with yourself. Check to make sure the output is what you would expect. You can also use this space to test any special cases you would like to check.

In [ ]:
# First test this function by checking how similar you are with yourself.
# The expected result will be a number equal to the number of columns you checked:
...

## Part 5 - Using the Function

### The Tuple Datatype

Previously, we encountered several datatypes for storing multiple pieces of information: **DataFrame**, **List**, and most recently in `lab_simulation` **Dictionary**. You may remember changing these structures after creating them, like adding a new column to a **DataFrame** to store GPA values or appending to a **List** to gather simulation outputs. The **Tuple** datatype is similar to a **List**, but once you make it, you can't change it. This makes **Tuples** safer for passing arguments into functions and outputting more than one value from a function. A **Tuple** like a list with parentheses instead of square brackets: `(<thing1>,<thing2>,...)`. A single item tuple looks like this: `(<thing>,)`.

### Puzzle 5.1 Making an argument tuple

We will use `df.apply()` to apply our `similarity()` function to each row in our dataframe but we need to also pass `myrow` as a second argument to the function. To do this, we need to put that value into a one element tuple. Make this single item tuple below and name it `args`.

In [ ]:
args = ...
args


### Puzzle 5.2 - Get similarity for all rows

Use `df.apply()` to apply your `similarity` function to each row of the dataframe. Make sure your input is correct so that it will run the `similarity` function you defined earlier across all rows, comparing them with `myrow`. If you're not sure what arguments/inputs to use, the documentation for `apply()` can be found [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html). Assign the new values to a new column in `df` and name the column `"similarity"`.

**HINT:** (double-click this cell to see it): 
<span style="color:#ffffff00"> Aside from the function name, you will also need the **args=** and **axis=** arguments</span>

In [ ]:
df["similarity"] = ...

In [ ]:
## == TEST CASES for Puzzle 5 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(df.shape[1] >= 32), "You need to apply your similarity function to your dataframe"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

### Puzzle 5.3 - Find your twin!

Your last column in your DataFrame is a **metric** (a measurement) of how similar you are to everyone else in the class!

Use your **cheat sheet** (link: https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) to find how to sort a DataFrame where the most similar person is on top.  Store that sorted DataFrame in `df_twins`.

- You should be most similar to yourself (you will always match yourself)!  *If this is not the case, you did something wrong and should double-check all of your steps up to this point.*

In [ ]:
df_twins = ...
df_twins

In [ ]:
## == TEST CASES for Puzzle 6 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs with the success message as your output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert( df_twins.head(1).squeeze()["Name"] == myrow["Name"] ), "You must be most similar to yourself."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1.  Save your work. To do this, go to File -> Save All

2.  After you have saved, exit this notebook and follow the webpage instructions to commit this lab to your Git repository!